<!DOCTYPE html>
<html>
    <head>
        <title>Programmes</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
        <script src="student.js"></script>
        <script src="all_programmes.js"></script>
    </head>
    <body>
        <h1>Programmes</h1>
        <div ng-app="mainApp" ng-controller="programmeController">
            <table border=1>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                </tr>
                <tr ng-repeat="programme in programmes">
                    <td>{{ programme.code }}</td>
                    <td>{{ programme.name }}</td>
                    <td><input type="button" ng-click="selectProgramme(programme.code)" value="Select"></td>
                    <td><input type="button" ng-click="deleteProgramme(programme.code)" value="Delete"></td>
                </tr>
            </table>

            <div id="selected">
                <h2>{{ selectedProgramme.code }} {{ selectedProgramme.name }}</h2>
                <h3>Modules</h3>
                <table border=1>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                    </tr>
                    <tr ng-repeat="module in selectedProgramme.modules">
                        <td>{{ module.code }}</td>
                        <td>{{ module.name }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>