<!DOCTYPE html>
<html>
    <head>
        <title>Single Student</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
        <script src="student.js"></script>
        <script src="single_student.js"></script>
    </head>
    <body>
        <div ng-app="mainApp" ng-controller="studentController">
            <h1>Student Record</h1>
            <p>
                <input type="text" ng-model="studentID">
                <input type="button" ng-click="getStudent(studentID)" value="Select">
            </p>

            <div id="selected">
                <h2>{{ selectedStudent.id }} {{selectedStudent.first_name }} {{ selectedStudent.last_name }}</h2>
                <h3>Grades</h3>
                <table border=1>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Grade</th>
                    </tr>
                    <tr ng-repeat="module in selectedStudent.modules">
                        <td>{{ module.module.code }}</td>
                        <td>{{ module.module.name }}</td>
                        <td>{{ module.grade }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>